.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f9fafc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(10, 10, 10);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav{
  position: fixed;
  width: 2000px;
  height: 245px;
  text-align: center;
  z-index: 1;

}

#logo {
  position: fixed;
  top: 0px;
  margin-left: 400px;
  height: 300px;
  width: 300px;
}

#links{
  position: fixed;
  top: 200px;
  left: 800px;
}

#a{
  margin-left: 10px;
  color: black;
}

#heroimage{
  height: 700px;
  width: 1999px;
}

#herocontainer{
  position: relative;
  top: 241px;
  background-color: rgb(8, 8, 8);
  height: 500px;
  width: 2000px;
}

#basicinfo{
  /* font-size: 14px; */
  position: relative;
  top: 441px;
  height: 600px;
  width: 2000px;
  background-color: rgb(252, 249, 249);
  color: black;
}

#loc{
  padding-top: 20px;
  font-size: 20px;
  /* top: 200px; */
}

#pizzaimage {
  height: 700px;
  width: 2000px;
}

#piccomp {
  position: relative;
  top: 440px;
  height: 400px;
  width: 2000px;
  background-color: rgb(253, 252, 252);
  color: rgb(255, 253, 253);

}

#inside{
  position: absolute;
  left: 100px;
  height: 600px;
  width: 600px
}

#outside{
  position: absolute;
  right: 100px;
  top: 0;
  height: 700px;
  width: 600px
}

#menu{
   position: fixed;
  margin-top: 240px;
  height: 900px;
  width: 2000px;
  background-color: #f6f9fa;
  z-index: 1;

}

#extrainfo{
  position: relative;
  top: 641px;
  background-color: rgb(255, 253, 253);
  height: 500px;
  width: 2000px;
  color: black;
}

#cheers{
  position: absolute;
  top: 0px;
  left: 530px;
  width: 800px;
  height: 700px;
}

#footer{
  position: fixed;
  bottom: 0px;
  /* top: 600px; */
  height: 110px;
  width: 2000px;
  background-color: rgb(102, 167, 18);
  color: black;

}

#about{
  position: relative;
  left: 100px;
  height: 300px;
  width: 300px;
}

#party{
 position: relative;
  height: 300px;
  width: 300px;


}

#menuitem{
  float: right;
    margin-left: 20px;
    height: 200px;
    width: 300px;
    background-color: white;
    border: black;
}