.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(253, 251, 251);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f9fafc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(10, 10, 10);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav{
  margin: auto;
  position: fixed;
  width: 2000px;
  height: 245px;
  text-align: center;
  z-index: 1;

}

#logo {
  position: fixed;
  top: 0px;
  margin-left: 420px;
  height: 300px;
  width: 300px;
}

#links{
  position: fixed;
  top: 200px;
  left: 795px;
}

#a{
  margin-left: 10px;
  color: black;
}

#heroimage{
  height: 700px;
  width: 1999px;
}

#herocontainer{
  position: relative;
  top: 241px;
  background-color: rgb(252, 247, 247);
  height: 500px;
  width: 2000px;
}

#basicinfo{
  /* font-size: 14px; */
  position: relative;
  top: 441px; 
  
  /* margin: auto; */
  height: 600px;
  width: 2000px;
  background-color: rgb(247, 247, 250);
  color: black;
}

#routebasicinfo{
  /* font-size: 14px; */
  position: relative;
  top: 241px; 
  height: 600px;
  width: 2000px;
  background-color: rgb(249, 248, 252);
  color: black;
}

#loc{
  padding-top: 20px;
  font-size: 20px;
  /* top: 200px; */
}

#pizzaimage {
  height: 700px;
  width: 2000px;
}

#piccomp {
  position: relative;
  top: 440px;
  height: 400px;
  width: 2000px;
  background-color: rgb(183, 212, 16);
  color: rgb(255, 253, 253);

}

#inside{
  position: absolute;
  left: 100px;
  height: 600px;
  width: 600px
}

#outside{
  position: absolute;
  right: 100px;
  top: 0;
  height: 700px;
  width: 600px
}

#menu{
   position: absolute;
  margin-top: 240px;
  /* margin: auto; */
  height: 2000px;
  width: 2000px;
  background-color: white;
  /* background-color: #44b129; */
  z-index: 1;

}

#extrainfo{
  position: relative;
  top: 641px;
  margin: auto;
  background-color: rgb(248, 250, 248);
  height: 680px;
  width: 2000px;
  color: black;
}

#routeextrainfo{
  position: relative;
  top: 241px;
  background-color: rgb(248, 252, 249);
  height: 680px;
  width: 2000px;
  color: black;
}

#cheers{
  position: absolute;
  top: 0px;
  left: 530px;
  width: 800px;
  height: 700px;
}

#footer{
  position: fixed;
  bottom: 0px;
  /* top: 600px; */
  height: 110px;
  width: 2000px;
  background-color: rgb(102, 167, 18);
  color: black;

}

#about{
  font-size: 18px;
  position: absolute;
  top: 70px;
  left: 100px;
  height: 300px;
  width: 300px;
}

#party{
  font-size: 18px;
 position: absolute;
 top: 70px;
 left: 1500px;
  height: 300px;
  width: 300px;


}

#menuitem{
    position: relative;
    top: 100px;
    left: 25px;
    
    float: left;
    margin-left: 25px;
    margin-top: 50px;
    border-radius: 10px;
    height: 150px;
    width: 600px;
    background-color: rgb(246, 250, 245);
}

#wine{
  position: relative;
  float: left;
  top: 80px;
  left: 25px;
  margin-left: 25px;
  margin-top: 50px; 
  border-radius: 10px;
  height: 150px;
  width: 600px;
  background-color: rgb(51, 122, 33);
}
#wineimg {
  border-radius: 20px;
  height: 150px;
  width: 200px;
  float: right;
}
#foodimg {
  border-radius: 20px;
  height: 150px;
  width: 200px;
  float: right;
}

#h3{
  position: relative;
  float: left;
  left: 0px;
  top: 0px;
}

#h5{
  position: absolute;
  top: 30px;
  float: left;
  text-align: left;
}

#price{
  position: relative;
  top: 60px;
  float: left;
  text-align: left;

}

#menutitle{
  position: absolute;
  left: 860px
}

#location{
position: fixed;
left: 200px;
/* top: 10px; */
}

#locationtit{
  position: fixed;
  left: 100px;
  }

#hours{
  /* margin-right: 10px; */
  position: fixed;
  left: 700px;
  /* top: 100px; */

}
#hourstit{
  position: fixed;
  left: 600px;

}

#web{
  position: fixed;
  left: 1500px;

}

#webtit{
  position: fixed;
  left: 1400px;

}